header {
    background: #444444;
}

header .logo {
    display: inline-block;
    border-right: 1px solid #22bce0;
    padding: 10px 30px 0px 15px;
}

header .logo img {
    width: 100px;
}

header .title-actions {
    border: 2px solid #333;
    display: inline-block;
    vertical-align: top;
}

header .title-actions .title h1 {
    color: white;
    font-size: 25px;
}

header .title-actions .subtitle h3 {
    color: #22bce0;
    font-size: 18px;
}

header .avatar-action {
    border: 2px solid #333;
    display: inline-block;
}